

/* #c9c1ac =white*/
/* #d3325f =red*/
/* #= yellow*/

.info{
	background:#c9c1ac;
}


body{
font-family: 'Oregano', cursive;
color:#c9c1ac;
background-color:#9ACD32;
 /*background:url(../img/zikr.jpeg)center/cover fixed no-repeat;*/

}

.primary-color{
	color:#d3325f;
}

.secondary-color{
	color:#000000;
}

.blue-color{
      color:#00008B;
}

.info h2
{
	word-spacing:0.6rem;
}
.info a
{
	transition:color 2s ease-in-out;
}
.info a:hover{
	color:#242424;
}
/* header*/
#header
{
	min-height:calc(100vh-94px);
	background:url(../img/chic.jpg);
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	position:relative;
}
.height-90
{
min-height:calc(100vh-94px);	
}

.banner h1{
	bottom-top: 6px dotted #c9c1ac;
	bottom-bottom: 6px dotted #c9c1ac;
	animation: fromLeft;
	animation-duration:4s;
	animation-delay:2s;
	opacity:0;
	animation-fill-mode:forwards;
	
}


@keyframes fromLeft{
	0%{ transform:translateX(-100px);
	opacity:0;
	
	}
	50%{ transform:translateX(30px);
	}
	100%{transform:translateX(0);
	opacity:1;
	}
}




.main-btn
{
	color:#d3325f;
	font-size :2rem;
	border:2px solid #d3325f;
	transition:all is ease-in-out;
	
}

.main-btn:hover
{
	color: #242424;
	border:2px solid #c9c1ac;
	background:#c9c1ac;
}
.main-btn{
	animation:fromRight;
	animation-duration:4s;
	animation-delay:2s;
	opacity:0;
	animation-fill-mode:forwards;
}
@keyframes fromRight{
	0%{ transform:translateX(-100px);
	opacity:0;
	
	}
	50%{ transform:translateX(30px);
	}
	100%{transform:translateX(0);
	opacity:1;
	}
}

/* botton*/
.header-link
{
	display:inline-block;
	position:relative;
	bottom:50%;
	left:50%;
	background:#c9c1ac;
	border-radius:10px;
	transition:all 2s ease;
	animation:fromBottom;
	animation-duration:4s;
	animation-iteration-count:4; 
}


.header-link
{
color:#242424;	
	
}
@keyframes fromBottom{
	0%{ transform:translateY(-10px);
	opacity:0;
	
	}
	50%{ transform:translateY(10px);
	}
	100%{transform:translateX(-100px);
	opacity:1;
	}
}
/*------ menu items------*/

.items-container {
	position:relative;
	/* for the link */
	overflow :hidden;
	background:linear-gradient(rba(0,0,0),rba(0,0,0));
	transition:all 2s ease;
}

.item-img
{
	transition:all 2s ease;
}

.items-container:hover  .item-img
{
	transform :scale(1.2);
	opacity:0.5;
}
.item-link
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#242424;
	font-size:2rem;
	border-top:3px solid #dd25f;
	border-bottom:3px solid #dd25f;
	transition:2s all ease;
	opacity:0;
}

.items-container:hover  .item-link
{
	opacity:1;
}
.item-link:hover
{
	color : #c9c1ac;
	border:3px solid #c9c1ac;
	background:#c9c1ac;
	color:#242424;
}

.items-container:hover{
	outline:10px solid #d3325f;
	outline-offset:0.8rem;
}
/*------menu------*/
#menu
{
	background:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url(../img/chic.jpg)center/cover fixed no-repeat;
}
.special-text
{
	position:absolute;
    top:0;	
	right:10%;
	background:#d3325f;
	padding:0 0.4rem;
}
.about-pictures
{
	position:relative;
}

.about-image
{
	position:absolute;
	width:150px;
	transition :all 2s ease;
	opacity:0.9;
}
.img-1{
	left:0%;
	top:0%;
}
.img-2{
	left:20%;
	top:20%;
    z-index:10;	
}
.img-3{
	left:40%;
	top:45%;
    z-index:20;	
}
.img-4{
	left:40%;
	top:0%;
   
}
.img-5{
	left:0%;
	top:45%;
    	
}
.about-image:hover{
	outline:10px solid #d3325f;
	outline-offset:0.8rem;
	transform:scale(1.3)rotate(20deg);
	z-index:30;
	opacity=1;
}
.about-pictures:hover  .about-image(not hover)
{
	opacity=0.5;
}

/*------review--------*/
.review-items
{
background:rgba(255,025,045,0.7);
 clip-path:polygon(5% 0,100% 0,90% 100%,0 100%)
}

.review-img {
	width:135px;
}

/*-----team------*/

.team-icons a
{
	color:#3b9998;
	transform:all 2s ease-in-out;
}
.team-icons a:hover
{
	color:242424;
	transform:translateY(-5px)
}
.height-60
{
	min-height:60vh;
}
